
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5%;
    /* background-color:#FFAAAA ; */
    /* background-color: rgba(216,199,199,.3); */
    border:1px solid rgba(216,199,199,.3);
}